.container {
  padding: .5em 1.5em;
  border-radius: 5px;
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: 4fr 2fr 1fr;
}

.container:hover {
  background: #222;
}

.music-info {
  display: flex;
}

.music-number {
  padding-right: 1.5em;
  line-height: 50px;
  text-align: center;
}

.img-card {
  width: 50px;
  display: flex;
  align-items: center;
}

.img {
  width: 100%;
  height: auto;
}

.text {
  max-width: 80%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.text p {
  padding: .25em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container span {
  color: var(--color-soft);
}


.duration {
  text-align: end;
}

@media (max-width: 596px) {
  .container {
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
  }

  .music-info {
    max-width: 70%;
  }

  .music-number,
  .album-name {
    display: none;
  }

  .text p {
    font-size: .8em;
  }
}