.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(0deg, #111 0%, #222 100%);
}

.nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 2em;
}

.nav div {
  display: flex;
  gap: 10px;
}

.nav button {
  background-color: transparent;
  padding: 1em;
  border-radius: 40px;
  border: solid 1px var(--color-mute);
  color: var(--color-mute);
  cursor: pointer;
  font-weight: 600;
}

.nav button:hover {
  background-color: var(--color-mute);
  border: solid 1px var(--color-mute);
  color: var(--bg-color);
}

.nav .btn-hover {
  background-color: var(--color-mute);
  border: solid 1px var(--color-mute);
  color: var(--bg-color);
}

.box {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 25px;
  min-height: 100%;
  padding: 2em;
  padding-bottom: 7em;
}

@media (max-width: 596px) {
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
  }

  .nav button {
    font-size: .6em;
  }

  .container {
    padding: 1em;
    padding-bottom: 7em;
    gap: 10px;
  }
}